

@font-face {
  font-family: 'MyFont';
  src: url("/font/SFUIText-Light.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --bg: #212129;
  --testBg: black;
  --contBg: rgba(245, 245, 245, 1);
  --text: white;
  --typeTwoText: #212129;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: var(--bg);
  color: var(--typeTwoText);
  font-family: 'MyFont'
}

a {
  color: inherit;
  text-decoration: none;
} 

h1{
  font-size: 28px;
  font-weight: 500;
  line-height: 42px;
}

@media (max-width: 680px) {
  h1{
    font-size: 20px;
    line-height: normal;
  }
}

.deleteButton{
  border: 2px solid rgb(228, 9, 9) !important;
  color: rgb(228, 9, 9) !important;
}
.iconDelete{
  color: rgb(228, 9, 9) !important;
}

.deleteButton:hover , .deleteButton:hover  .iconDelete {
  background: rgb(209, 94, 94);
  color:white !important;
}
