.container{
    font-size: 14px;
    /* font-weight: 500; */
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 0px 25px 0px;

}

.cancel{
    color: black;
    padding: 20px 36px 20px 36px;
    border-radius: 50px;
    border: 1px solid rgba(228, 228, 228, 1);
    background-color: #fff;
}

.cancel:hover{
    background-color: rgba(228, 228, 228, 1);
}

.signUp{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 15px 36px 15px 36px;
    border-radius: 50px;
    background-color: rgba(76, 142, 59, 0.5);
    gap: 8px;
    border: 0px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.15em;
}

.signUp:hover{
    background: rgba(76, 142, 59, 1);
}


.cancelService{
    color: rgba(213, 115, 0, 1);
    background: rgba(213, 115, 0, 0.1);
    border: 1px solid rgba(213, 115, 0, 0.3)
}

.cancelService:hover{
    background-color: rgba(213, 115, 0, 1);
    color: white;
}

@media (max-width: 680px) {
    .container{
        flex-direction: column;
        align-items: end;
    }
  }
  