.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    padding-bottom: 25px;
}

.selectedButton, .addNewCard{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid rgba(197, 197, 197, 1);
    text-transform: uppercase;
    padding: 12px 24px;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.15em;
}

.active {
    border: 1px solid rgba(31, 34, 41, 1)
}

.paymentMethod{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.label{
    white-space: nowrap;
    padding-top: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.addNewCard{
    width: auto;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid rgba(228, 228, 228, 1)
}

.addNewCard:hover{
    background-color: rgba(228, 228, 228, 1);
}

.info{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.privacyPolicyText{
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
}

.privacyPolicyText a{
    color:  rgba(76, 142, 59, 1);
}

