
.dropDownContainer {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.dropDownHeader {
    margin-bottom: 0.8em;
    padding: 0.4em 1em 0.4em 1em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 1.3rem;
    color: #000;
    background: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropDownHeader p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(102, 102, 102, 1);
}

.dropDownListContainer {
    width: 100%;
    position: absolute;
}

.dropDownList {
    padding: 0;
    margin: 0;
    padding: 12px;
    background: #ffffff;
    border: 1px solid rgba(228, 228, 228, 1);
    box-sizing: border-box;
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.listItem {
    list-style: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.listItem:hover{
    background: rgba(245, 245, 245, 1);
    
}  